
@font-face {
    font-family: 'JetBrains';
    src: url('fonts/JetBrainsMono-Regular.woff2');
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#sudoku {
    background-color: black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;

    padding: 2px;
    width: fit-content;
}

.sudoku-region {
    background-color: gainsboro;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: inherit;

    overflow: hidden;

    width: fit-content;
    aspect-ratio: 1;
}

.sudoku-cell {
    user-select: none;

    background-color: white;
    transition: color,scale 0.4s;

    font-family: 'JetBrains', "Comic Sans MS", serif;
    font-size: large;
    text-align: center;

    padding: 1rem;
    width: 1rem;
    height: 1rem;
}

.unsolved:hover {
    cursor: pointer;

    background-color: #f0f0f0;
    scale: 120%;
}

.clue {
    color: dodgerblue;
    font-weight: bolder;
}

.solved {
    color: lightseagreen;
    font-weight: bolder;
}

.sudoku-cell.invalid {
    background-color: red;
}

#debug_output {
    float: right;
}
